body{
  font-family: cursive;
  margin: 0;
}


.logo{
  width: 50px;
  display: inline;
  
}
.website-name{
  display: inline;
  font-size: 60px;
  margin: 0;
  
}
header{
  padding: 50px;
  background-color: white;
}

.home,.about{
  display: inline;
  margin: 0 170px;
  font-size: 30px;
  
}

a{
  text-decoration: none;
  color: gray;
}

form{
  
  width: 400px;
  margin: auto;
  padding: 50px;
  border-radius: 10px ;
  margin: auto;
}

button{
 background-color: cadetblue;
 padding: 10px;
 border: none;
 color: whitesmoke;
 font-family: cursive;
 font-weight: bold;
 cursor: pointer;
}



.personal-info{
  border: 1px solid black;
  border-radius: 10px;
  width: 800px;
  height: 180px;
  position: relative;
  padding: 50px;
  margin: 100px auto;
  
}

.personal-info img{
  top: 55px;
  right: 20px;
  position: absolute;
  width: 150px;
}









.footer-div{
  width: 160px;
  margin: 100px auto;
}
.copyright-img{
  width: 20px;
}

.app-name{
  display: inline;
}